body {
    border: black 2px solid;
  }
  
  head {
    border: black 2px solid;
  }
  
  nav {
    border: black 2px solid;
  }
  
  main {
    border: black 2px solid;
  }
  
  aside {
    border: black 2px solid;
  }
  
  section {
    border: black 2px solid;
  }
  
  article {
    border: black 2px solid;
  }
  
  footer {
    border: black 2px solid;
  }
  